version: "3"
services:
    web:
        build: .
        environment:
            - FLASK_ENV=development
            - DEMO=1
            - MAX_UPLOAD=50 MB

        command: flask run --host 0.0.0.0
        volumes:
            - ./pd3f/:/app/
            - ./pd3f-data-uploads/:/uploads/

    worker:
        volumes:
            - ./pd3f/:/app/
            - ./pd3f-data-uploads/:/uploads/
            - ./pd3f-data-to-ocr/:/to-ocr/
            - ./pd3f-data-cache/:/root/.cache/
