<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
        />
        <meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge" />
        <title>pd3f</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <script defer src="/static/js/jquery-3.5.1.slim.min.js"></script>
        <script defer src="/static/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">pd3f</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" href="/"
                            >upload pdf
                            <span class="sr-only">(current)</span></a
                        >
                        <a class="nav-link" href="//pd3f.com">information</a>
                    </div>
                </div>
            </nav>
            <h1 class="my-5">upload pdf to extract text</h1>
            <p>
                Please set the config for our PDF. You can upload scanned PDFs
                that will get OCRd or digital PDFs. After uploading your file
                you will get redirected to another page with a unique URL. The
                URL is not guessable but you can share it. However, this is very
                experimental software, use it with care.
            </p>
            {% if demo %}
            <p>
                This is only a demo. The results will get deleted automatically
                after one day. Please host your own instance of pd3f or set it
                up on your computer. {% if priv_urls %}
                <a href="{{priv_urls[0]}}">Privacy Policy</a> {% if
                priv_urls|length > 1 %} /
                <a href="{{priv_urls[1]}}">Datenschutzerklärung</a>
                {% endif %} {% endif %}
            </p>

            {% endif %} {% if max_upload %}
            <p>
                You can only upload files up to a size of <b>{{max_upload}}</b>.
            </p>
            {% endif %} {% if num_jobs > 1 %}
            <p>There are currently {{num_jobs}} jobs in the queue.</p>
            {% else %} {% if num_jobs == 1 %}
            <p>There are currently {{num_jobs}} jobs in the queue.</p>
            {% else %}
            <p>There are currently no jobs in the queue.</p>
            {% endif %} {% endif %}

            <form
                class="mt-5"
                method="POST"
                enctype="multipart/form-data"
                action="{{ url_for('index_post') }}"
            >
                <div class="form-group">
                    <label for="formControlPdf">choose pdf</label>
                    <input
                        type="file"
                        class="form-control-file"
                        id="formControlPdf"
                        name="pdf"
                    />
                </div>
                <div class="form-group">
                    <label for="selectLang">choose language</label>
                    <select class="form-control" id="selectLang" name="lang">
                        <option>de</option>
                        <option>en</option>
                        <option>es</option>
                        <option>fr</option>
                        <option>it</option>
                    </select>
                </div>
                <div class="form-check">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        value="1"
                        id="checkFast"
                        name="fast"
                        checked
                    />
                    <label class="form-check-label" for="checkFast">
                        fast (but less accurate)
                    </label>
                </div>
                <div class="form-check">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        value="1"
                        id="checkTable"
                        name="tables"
                        checked
                    />
                    <label class="form-check-label" for="checkTable">
                        extract tables
                    </label>
                </div>
                <div class="form-check">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        value="1"
                        id="checkExperimental"
                        name="experimental"
                    />
                    <label class="form-check-label" for="checkExperimental">
                        deduplicate page header/footer & transform footnotes to
                        endnotes (experimental)
                    </label>
                </div>
                <input type="hidden" name="in_browser" value="1" />
                <button type="submit" class="btn btn-primary mt-3">
                    submit
                </button>
            </form>
        </div>
    </body>
</html>
