<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
        />
        <meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge" />
        <title>pd3f</title>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">pd3f</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" href="/"
                            >Upload PDF
                            <span class="sr-only">(current)</span></a
                        >
                        <a class="nav-link" href="//ddd.jetzt">Background</a>
                    </div>
                </div>
            </nav>
            <h1 class="mt-5">upload pdf to extract text</h1>
            <p>set config</p>
            <form
                method="POST"
                enctype="multipart/form-data"
                action="{{ url_for('index_post') }}"
            >
                <div class="form-group">
                    <label for="formControlPdf">choose PDF</label>
                    <input
                        type="file"
                        class="form-control-file"
                        id="formControlPdf"
                        name="pdf"
                    />
                </div>
                <div class="form-group">
                    <label for="selectLang">choose language</label>
                    <select class="form-control" id="selectLang" name="lang">
                        <option>de</option>
                        <option>en</option>
                        <option>es</option>
                        <option>fr</option>
                    </select>
                </div>
                <div class="form-check">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        value="1"
                        id="checkFast"
                        name="fast"
                        checked
                    />
                    <label class="form-check-label" for="checkFast">
                        fast (but less accurate)
                    </label>
                </div>
                <div class="form-check">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        value="1"
                        id="checkTable"
                        name="tables"
                        checked
                    />
                    <label class="form-check-label" for="checkTable">
                        extract tables
                    </label>
                </div>
                <div class="form-check">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        value="1"
                        id="checkExperimental"
                        name="experimental"
                    />
                    <label class="form-check-label" for="checkExperimental">
                        experimental mode
                    </label>
                </div>
                <input type="hidden" name="in_browser" value="1" />
                <button type="submit" class="btn btn-primary mt-3">
                    Submit
                </button>
            </form>
        </div>
    </body>
</html>
